header{
    background: #264653;
}
.header-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.header-button{
    background-color: #E76F51;
}
.featured-section{
    margin-top: 65px;
}
.orange{
    color: #E76F51;
}
.featured-row .col-lg-3{
    margin-right: 50px;
}
.gray{
    filter: grayscale(100%);
}
.client-section{
    margin-top: 100px;
}
.client-heading{
    margin-bottom: 50px;
}
.card-image{
    margin-top: 40px;
    margin-bottom: 20px;
}
.fa-star{
    color: rgb(209, 129, 25);
    margin: 4px;
}
.client-name{
    color: #23A6F0;
}
.faq-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.faq-heading{
    margin-bottom: 100px;
}
.faq-image{
    margin-bottom: 80px;
}
.searchbar{
    margin-top: 100px;
    margin-bottom: 80px;
}